<!doctype html>
<html>
  <%= partial(:"layouts/partials/head", :locals => {:title => current_page.data.title}) %>
  
    <body>
      <%= partial "layouts/partials/min-header" %>
        <div class="nav-layout">
        <nav>
        <a href = "../#main" class="back">Portfolio Posts</a>
        </nav>
        <main role="main" id="main">
          <div class="content-container">
            <div class="content-margin">
              <div class="post-description">
                <h1>
                  <%= current_page.data.title %>
                </h1>
                <h2 class="byline">
                  <%= current_page.data.byline %>
                </h2>
              </div>
              <div class="post-content">
                <article>
                  <%= yield %>
                </article>
                <hr />
                <span class="post-meta">
                <em><%= current_page.data.org %></em> <%= current_page.data.year %> 
                </span>
                <a href="#top" class="back-to-top"></a>
              </div>
            </div>
          </div>
        </main>
        </div>
        <!-- <%= partial "layouts/partials/footer" %> -->
    </body>

</html>