<!doctype html>
<html lang="en">
  <%= partial(:"layouts/partials/head", :locals => {:title => current_page.data.title + "\ \|\ Struan\'s\ blog"}) %>
    <body>
      <%= partial "layouts/partials/min-header" %>
        <div class="nav-layout">
        <nav>
        <a href = "../../#main" class="back">Blog posts</a>
        </nav>
        <main id="main">
        <article>
          <div class="content-container">
            <div class="content-margin">
              <div class="post-description">
                <h1>
                  <%= current_page.data.title %>
                </h1>
                <h2 class="byline">
                  <%= current_page.data.byline %>
                </h2>
              </div>
                  <%= yield %>
                <hr />
                <span class="post-meta">
                  Published <em><%= current_page.date.strftime('%e %B %Y') %></em>
                </span>
                </article>
                <a href="#top" class="back-to-top"></a>
            </div>
          </main>
          </div>
        </div>
    </body>

</html>