<!doctype html>
<html>
  <%= partial(:"layouts/partials/head", :locals => {:title => current_page.data.title + "\ \|\ Struan\'s\ blog"}) %>
    <body>
      <%= partial "layouts/partials/min-header" %>
        <div class="main" role="main" id="main">
          <div class="content-container">
            <div class="content-margin">
              <div class="post-description">
                <h1>
                  <%= current_page.data.title %>
                </h1>
                <h2 class="byline">
                  <%= current_page.data.byline %>
                </h2>
              </div>
                <article>
                  <%= yield %>
                </article>
                <hr />
                <span class="post-meta">
                  Published <em><%= current_page.date.strftime('%e %B %Y') %></em>
                </span>
                <a href="#top" class="back-to-top"></a>
            </div>
          </div>
        </div>
        <!-- <%= partial "layouts/partials/footer" %> -->
    </body>

</html>