<!doctype html>
<html>
  <%= partial "layouts/partials/head" %>
    <body>
      <%= partial "layouts/partials/min-header" %>
        <div class="main" role="main" id="main">
          <div class="content-container">
            <div class="content-margin">
              <div class="post-description">
                <h1>
                  <%= current_page.data.title %>
                </h1>
                <h2>
                  <%= current_page.data.subtitle %>
                </h2>
              </div>
              <div class="post-content">
                <article>
                  <%= yield %>
                </article>
                <hr />
                <span class="post-meta">
                  Published <em><%= current_page.date.strftime('%e %B %Y') %></em>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- <%= partial "layouts/partials/footer" %> -->
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
        <script>
          window.sr = ScrollReveal();
          console.log(sr.reveal);
          sr.reveal('article p', {
            scale: 1
          });
        </script>
    </body>

</html>