---
title: It Takes a Village
date: 2020-09-06 22:05 GMT
tags: ["portfolio"]
byline: Assisting family learning by removing barriers that prevent fathers from participating in preparing for a newborn baby
publish_to_blog: false
published: false
layout: portfolio-post
image_extension: /images/portfolio/village/
hero_type: image
hero_file: engagement-tool.jpg
hero_alt: Illustration of three dads. One walking, one using a wheelchair and one sitting on a bucket.
year: 2020
org: Glasgow School of Art
intro: Becoming a father is a profound experience but many dads have found that there are aspects of preparing for fatherhood that have not been as rewarding as they'd been led to expect. Many of my friends have been new fathers and from hearing about the excitement and challenges they faced, it seems like an area that is rich in opportunities for improvement. We were a team of five designers and we were hungry to learn more.
---

<figure> 
  <img src="<%= config[:host] %><%= current_page.data.image_extension %><%= current_page.data.hero_file %>" alt="<%= current_page.data.hero_alt %>" />
</figure>

<%= current_page.data.intro %>

###Our aims

We wanted to assist fathers who might have barriers in the way of developing a close bond with their family. Dads have a strong desire to provide any assistance they can to their family – often to their own detriment – so we sought to find out how where there might be obstructions to building a healthy, active role in the participation of a pregnancy.

We tackled this topic in the knowledge that it was was poorly understood and that there were unrealistic and outdated cultural expectations around fatherhood. We used expert interviews, engagement tools and desk research to interrogate this. 

###Visiting institutions

We visited a number of different institutions in order to get a sense of what the spaces that a new family might visit are like. We visited: Royal Infirmary Maternity Ward, New Victoria Hospital and Queen Elizabeth Hospital.

When looking at the available materials around parenthood, we quickly found that much of it portrayed mothers only. It is appropriate that mothers are centred in the material but there was a distinct lack of complementary material for fathers. In interviews, we heard that this was noticed and was having a detrimental affect upon men’s perceived role. When attending these supporting institutions, these materials were implicitly insinuating that parenthood is for mothers only. 

###Mens antenatal classes

<figure>
  <img class="no-shadow" src="<%= config[:host] %><%= current_page.data.image_extension %>antenatal.png" alt="<%= current_page.data.hero_alt %>"></img>
  <figcaption>Antenatal services being provided for dads</figcaption>
</figure>

Speaking to the hosts of an antenatal class for fathers provided us with insight into what it takes to bring dads to a class and what they’re looking for when they attend a class like theirs. They were trying to “fit what the NHS do in four weeks into two hours”.

They described a huge range of issues facing dads. One of the challenges that stuck out was the fear of ignorance. They specifically offer people the opportunity to ask what dads might think are “stupid questions” before attending the class so they can answer them in person during the class with everyone present. They described a situation where many dads have very little interaction with children until they have their own. They were there to help prepare them in the absence of guidance from family and friends.

For those without those classes, the sense seemed to be – they think “no one else seems to have this problem.” There are few support networks to encourage that type of communication amongst fathers. There is also a feeling of inadequacy when becoming frustrated with their children. They think they have failed as a father because they’re having very negative thoughts about them and they don't have a support network through which to vent and hear that frustration is normal. There was also a sense that they might be seen as threatening as men are often portrayed as a danger to children. This makes negative feelings tricky to navigate.

-------- START HERE

###Attending the antenatal class

<figure> 
  <img src="<%= config[:host] %><%= current_page.data.image_extension %>antenatal-equipment.png" alt="A table full of toys, cotton buds and cleaning paraphernalia" />
  <figcaption>Tools of the trade</figcaption>
</figure>

Many of the examples of learning we encountered showed that the learnings were told as stories. They were shared as experiences that they’d had and how others had approached familiar problems and situations. I learned how transient the knowledge around being a parent is. NHS recommendations seemingly change often and people seem to be very up to date with contemporary approaches to activities and products like breast-feeding, re-usable nappies, infant psychology and so much more. 

The class is really playful and fun. It served a social function as well as an educational one. I found this odd because these classes were infrequent. This was a voluntary class so the dads who were there had taken it upon themselves to attend this. Normally they would have to take unpaid leave to go to a daytime antenatal class and they might be the only man there. 

There was an emphasis on asking for help from others whether that be family or friends but I didn’t get a strong sense that there was a network within the class other than a large messenging group that sounded like it didn’t get used very much.

These dads clearly had things to offer each other and enjoyed each others company but there didn’t seem to be many opportunities to develop those relationships.

###Engagement tools

<figure> 
  <img src="<%= config[:host] %><%= current_page.data.image_extension %>engagement-tool.jpg" alt="" />
</figure>

After the antenatal class we were each able to find a participant for our engagement tool. We wanted to find out how an expecting father experiences fatherhood in a given day. Through mapping the people they spoke to, the places they attended and the hobbies they had, we hoped to find out more about the communication networks and environments that might help us understand how a dad experiences fatherhood before becoming a father.

I spoke to one dad who defied my expectations. It helped me build an understanding of what a supportive society might look like. He worked somewhere with lots of parents who were willing to regularly discuss what it means to become a father and the things that he’d have to learn. His family were around regularly and his work was very flexible with his situation.

Despite this, he said that his friends would often switch off when he started talking about fatherhood. Afterwards, I started thinking about manhood and its relationship to care and again about the portrayal of men in society. For the same reason that many men don’t interact with children until they have them, they also don’t talk about children. It is not a normative role. 

Pregnant women are asked to attend antenatal classes and attend health check-ups which is great for creating a regular sense of progress and builds towards adopting the role of a parent. There is also often a stronger network of women around mothers than men around fathers. 

Even with that network, the education around becoming a parent is procedural and doesn’t take into account the social or psychological effects of having a baby. The way a relationship changes is radical and from the interviews we conducted, it sounds like many families are unprepared for the change that takes place. It’s a transition into a family with different roles and responsibilities. Because men aren’t taught these skills, they might not be able to support their partner in the ways that they’d like.

Family learning becomes essential as a means of preparing couples for new children. It also offers an opportunity for couples to communicate around complex topics which was described as essential during the antenatal class.

###Another section

<figure> 
  <img src="<%= config[:host] %><%= current_page.data.image_extension %>box-sketch.png" alt="<%= current_page.data.hero_alt %>" />
</figure>

We created a toolkit that would prepare a family while including and representing dads. Because of this, we built something that was mainly focused on men and their experience but if we were creating a complete prototype, we’d have to research the mother’s experience.

With this we wanted to tackle some main points. We tackled: communicating around complex topics; representing dads in caring roles; building support networks; relieving stress after the baby comes; offering opportunities to socialise and articulating what kind of father you’d like to be.

We were heavily inspired by the baby boxes provided by the Finnish and Scottish Governments to families with newborn babies. We liked these because they don’t require time for people who are time-short and we can provide a number of activities which can be used anytime after five months into the pregnancy.

###Design principles

* Remove barriers to fathers’ participation within a family
* Make events, checkups and appointments easy to find
* Encourage dads to build confidence through parental experience
* Promote extending friends and family networks
* Encourage boys, young men and adult men to participate in parenthood
* Show men in caring roles

<div class="gallery">
<img src="<%= config[:host] %><%= current_page.data.image_extension %>words-of-wisdom.png" alt="" />
<img src="<%= config[:host] %><%= current_page.data.image_extension %>calendar.png" alt="" />
<img src="<%= config[:host] %><%= current_page.data.image_extension %>coupons.png" alt="" />
</div>
<div class="gallery">
  <img src="<%= config[:host] %><%= current_page.data.image_extension %>takes-a-village.png" alt="" />
  <img src="<%= config[:host] %><%= current_page.data.image_extension %>booklet.png" alt="" />
  <img src="<%= config[:host] %><%= current_page.data.image_extension %>card-game.png" alt="" />
</div>
####Things to discuss

A set of flashcards that can be picked up at any time. The couple can discuss the contents of the card to better prepare and prime the couple for the babies arrival.

####Dad guide

Guidance for new fathers encouraging them to look after themselves so they can look after their family. There is also a letter from their future child asking them what they’d like for their future.

####It takes a village

A contact sheet that asks you to map out people who can help in a time of need.

####Village vouchers

A set of coupons you can give to people who you trust and might be kind enough to help you out around the house when the baby arrives.

####Calendar

All the relevant events that might be useful to a couple before the baby arrives.

####Time capsule

A letter to write to yourself in the future. This is an opportunity to describe to yourself what kind of future you’d like and what kind of dad you’d like to be.

###Documentation

Post-it notes were central to our project and we kept a good record of our progress using post-it notes. After a while they became unwieldy and if this was a long term project, it would be an unsustainable way of recording progress. There was also too little sketching on the post-it notes and too much language. This makes the information less accessible and harder to digest. I think we could discuss better ways to document our progress and I’d be interested to hear perspectives from people who communicate differently than I.

###Making a schedule

Early on in the project I think we had some difficulty with scheduling. We created a timetable but due to what I think was a fear of ambiguity in the project we kept returning to the brief rather than pushing forward with our ideas and facing the ambiguity of what we might be looking at head on.
It was also impmortant to make sure everyone felt they could communicate freely in the group so making sure that everyone was feeling okay and enjoying their time was really important. There was a lot of colds and fevers going around and we tried to make sure we didn’t put undue stress on anyone individually but we may not have always suceeded in doing that.

A clear schedule, roles and responsibilities can help a lot with communicating what is required of us. It would also help us communicate when we’re not able to do everything within a role or otherwise.

###In the future

We’ve shown the project to the Dads Rock group and received some preliminary feedback from them. They think it’s unlikely to be accessible or engaging to the people of their group as it’s geared more towards traditional upper class families. As dads they are time-short and are unlikely to take time out to write abstract letters. It’s also geared towards traditional couples who are still together which is not always the case. 

I think this is great feedback and it’s a fairly strong indication that using more participatory methods would help us stop projecting and start using the experience of the dads to mould something more engaging. I’d also like to look more into the more holistic idea of the family and how parents and guardians can offer mutual support to each other. Our research focused on the experience of a dad but to tackle the problem more effectively I think we’d have to look more closely at how parents can support each other as much as themselves.