---

title: YouView Guide
date: 2019-02-06 00:00 GMT
tags: ["portfolio"]
byline: How can we make TV easier to find without disrupting an evening's viewing?
publishToBlog: false
published: false
permalink: youview-guide
layout: portfolio-post
image_extension: /images/portfolio/guide/
hero_type: image
hero_file: youview-guide.jpg
hero_alt: YouView's TV Guide showing a range of programmes from UK broadcasters.
year: 2015 - 2017
org: YouView
intro: "Creating a TV Guide is tricky: people's behaviour around TV is learned over years. The paradigm hasn't changed much and people don't expect change."

---
<figure>
<img src="<%= config[:host] %><%= current_page.data.image_extension %><%= current_page.data.hero_file %>" alt="<%= current_page.data.hero_alt %>"></img>
</figure>
### Making a guide we recognise
<%= current_page.data.intro %> Many products that have launched without a traditional Guide have found that they had to add one in a later release i.e. <a href="https://techcrunch.com/2018/06/13/plex-adds-a-traditional-grid-programming-guide-to-its-tv-service/">Plex</a> and <a href="https://www.theverge.com/2018/5/9/17336158/hulu-live-tv-guide-channel-surfing-app-update">Hulu</a>.

<figure>
<video src="<%= config[:host] %>/blog/posts/2018/video/flirc.mp4" alt="Struan uses an infrared remote control to interact with a Framer prototype of YouView's TV Guide" controls class="full-width" loop></video>
<figcaption>Using FLIRC with a YouView TV Guide prototype</figcaption>
</figure>

With those deeply ingrained behaviours from a diverse group of users with mixed abilities, we have to be sensitive to making whole-scale changes.

We needed to have a great deal of confidence when we conceived of the Next Generation Guide that it would feel comfortable and that people still felt like they understood how to use it. At the time, it felt like we didn't have much choice but to build the product as pictures weren't evocative enough to gain meaningful insights as to whether the Guide was still comprehensible to our users. To resolve this I tried a whole host of tools, the most powerful of which, I found was Framer. 

After some late nights and scrappy prototypes, I was able to wrangle a framework which we have been using in all subsequent user research conducted around the Guide. We're now using this framework to prototype every area of the YouView UI and it has been immensely helpful in creating rich, meaningful insights.
<a href="https://struanfraser.co.uk/prototypes/closed-pop-one-line.framer/">
<figure>
<video class="full-width" src="<%= config[:host] %>/blog/posts/2019/videos/youview-guide/expand-both-one-line.mp4" alt="YouView's TV Guide showing a highlight state that pops open on rest." controls class="full-width"></video>
<figcaption>Try it out!<br>(Works best in Safari)</figcaption>
</figure>
</a>