---

title: Trying Some Libraries
subtitle: A shallow foray into the world of creative code 
date: 2018-08-07 18:09 BST
tags: processing, p5js, open-frameworks, trying-libraries
permalink: open-frameworks-and-processing

---

<video src="<%= config[:host] %>/posts/2018/video/trying-libraries/torus.mp4" alt="" controls="true" class="full-width" autoplay="false" loop="true"></video>
<span class="caption">My First Attempt at THREEJS</span>

Uh oh, I'm spending an awful lot of time with code. With the advent of Framer and now Framer X, I've become a bit of an addict for trying out all of the different packages that are floating around the scriptiverse and it's far too tempting to give them a poke. 

Here's some of the stuff I've been playing with: –

## P5.JS
<video src="<%= config[:host] %>/posts/2018/video/trying-libraries/do-it-now.mp4" alt="" controls="true" class="full-width"></video>
<span class="caption">Made with p5.js</span>

The Web Audio API's capabilities have blown me away as you can do all kinds of witchcraft when combined with P5.js. This is a quick prototype I built with the <a href="http://https://p5js.org/reference/#/libraries/p5.sound">p5.sound</a> library which I've only just scratched the surface of. This uses mouse input to control a low pass and amplitude if I remember correctly. I'd love to try hooking this up to an Arduino to create some cool performative artifacts.

### Sketches for Fountains

After giving a friend a little support for their final year project, they offered to let me try out a processing sketch on the fountains at Central Saint Martins –

<video src="<%= config[:host] %>/posts/2018/video/trying-libraries/fountain-sketch.mp4" alt="" controls="true"></video>

<span class="caption">You can see a live demo of the <a href="<%= config[:host] %>/fountain-sketch">Fountain Sketch here</a>. Made with p5.js.</span>

The left hand side shows the height of the wave: the whiter it is, the higher the wave. The right hand side shows the colour projected through the jet. Unfortunately we ran out of time on the day but I did get this photo of a trial run <i>almost</i> working correctly – 
<img src="<%= config[:host] %>/posts/2018/images/trying-libraries/fountain.jpg" alt=""><span class="caption">A Processing Sketch in a Fountain</span>

### P5 with 3D

<video src="<%= config[:host] %>/posts/2018/video/trying-libraries/spinny-ball.mp4" alt="" controls="true" class="full-width"></video>
<span class="caption">First foray into 3D using p5.js</span>

Um, I'm not sure there's much to say about this other than I have a lot to learn about 3D. I had a go at THREEJS at the start of this post too but it's just a whole new set of skills and ideas to get my head around... I'll keep at it.

## Open Frameworks

Over the past couple of years, I think I've finally learned how to wield Twitter effectively and it's introduced me to swathes of new artists' and coders' work. I found a video of Zach Lieberman talking at the AIGA design conference last year and I found the ease with which he was able to create shapes in code and talk about his journey with creative code inspiring. Seeing that talk made me want to try out Open Frameworks. The following is a result of that exploration –

<video src="<%= config[:host] %>/posts/2018/video/trying-libraries/square-grid-swoop-lieberman.mp4" alt="" controls="true" class="full-width"></video>
<span class="caption">An Open Processing Sketch – inspired by/stolen from – Zach Lieberman's AIGA talk.</span>

<video src="<%= config[:host] %>/posts/2018/video/trying-libraries/lines-and-swoop.mp4" alt="" controls="true" class="full-width"></video>

<span class="caption">A progression of that initial idea.</span>

<video src="<%= config[:host] %>/posts/2018/video/trying-libraries/wacky-lines.mp4" alt="" controls="true" class="full-width"></video>

<span class="caption">Learning about the importance of using time as this is HECTIC.</span>

Quickly I'm realising I need to become a master of time and colour. Understanding how to use time in a sketch is so important and quite a new way of thinking compared to the programming environments I'm familiar with.

Colour is also really difficult as you're using time to change the properties of colour. Slowly, mastery of the sine wave is emerging as a necessary skill to create a well composed sketch: it allows for a much more naturalistic shift in colour and space.

<video src="<%= config[:host] %>/posts/2018/video/trying-libraries/chromatic-aberration-webcam.mp4" alt="" controls="true" class="full-width"></video>

<span class="caption">Trippy camera stuff made with Open Frameworks.</span>

<a href="https://twitter.com/struanfraser/status/956183356160475136">I saw this on tumblr</a> some time ago but was never able to track down another source. I'm a really big fan of people's interpretations of chromatic aberration and I wanted to have a go at creating something interesting.

And finally here's the talk that kicked off the Open Frameworks intrigue –

<iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/bmztlO9_Wvo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
