---

title: Another Alpha Channel Experiment
byline: My infatuation with alpha channels is growing
date: 2018-09-27 23:00 BST
tags: ["creative-code", "open-frameworks"]
publishToBlog: true
permalink: alpha-channel-experiment

---
<figure>
<video src="<%= config[:host] %>/blog/posts/2018/video/alpha-trail.mp4" alt="" controls="true" class="full-width" autoplay="false" loop="true" alt="Struan is moving in a staggered way that distorts red, green and blue colour through time."></video>
</figure>
<figcaption>Requires a cyberpunk backing track</figcaption>

## Stressing out
Stress! That's my aim. I wanted to go further than last time. It's clear to me that time is an important element as the last sketch felt <a href="<%= config[:host] %>/blog/open-frameworks-and-processing#trippy-webcam" target="_blank">disconnected and loose</a>. This has much more of a satisfying, *disconcerting** feel to it. Whenever I use it I feel like I'm becoming more stressed just by appearing and moving in the image. It almost makes you want to stop moving. 

I suspect this won't be the end of my interest in alpha channels. I've been looking at an awful lot of <a href="https://www.pinterest.co.uk/struanf/80s-90s-retro-design/" target="_blank"> old VHS covers on pinterest which may have something to do with it.</a>

It works by allowing the red alpha channel to move around in real time but only occasionally capturing the blue and green channels' frames. They also have a blend mode applied to them as appeared in the previous sketch.

Hopefully I'll be able to produce a p5js version some time soon so I can share it around but until then I'll settle for just listening to Carpenter Brut until my ears bleed –

<iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/DY1s9SmrQRE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

\* Forgive the oxymoron

### Some Bonus Mistakes

<div class="fukol-grid">
    <ul><figure><img alt="Struan appears with a blue hue in an office. A larger image with a red hue appears super imposed over the original image. Struan is waving." src="<%= config[:host] %>/blog/posts/2018/images/alpha-channels/glitch-1.png" /></figure></ul>
    <ul><figure><img alt="Struan appears with a blue hue in an office. A larger image with a red hue appears super imposed over the original image. Struan is looking pensive." src="<%= config[:host] %>/blog/posts/2018/images/alpha-channels/glitch-2.png" /></figure></ul>
    <ul><figure><img alt="Struan appears with a blue hue in an office. A larger image with a red hue appears stretched and super imposed over the original image. Struan is confused." src="<%= config[:host] %>/blog/posts/2018/images/alpha-channels/glitch-3.png" /></figure></ul>
    <ul><figure><img alt="Six inverted images appear of Struan each with a different hue. The first is full colour, the second is inverted, the third is red and inverted, as is the fourth, the fifth is green and inverted and the last is blue and inverted. Struan looks very suprised and is waving." src="<%= config[:host] %>/blog/posts/2018/images/alpha-channels/glitch-4.png" /></figure></ul>
    <ul><figure><img alt="Struan partially appears in an office environemnt. A distorted image appears beside the webcam feed that appears to show a broken webcam feed." src="<%= config[:host] %>/blog/posts/2018/images/alpha-channels/glitch-5.png" /></figure></ul>
    <ul><figure><img alt="Struan partially appears in an office environemnt. A distorted image appears beside the webcam feed that appears to show a broken webcam feed. Struan is waving." src="<%= config[:host] %>/blog/posts/2018/images/alpha-channels/glitch-6.png" /></figure></ul>
    <ul><figure><img alt="Six inverted images appear of Struan each with a different hue. The first is full colour, the second is inverted, the third is red and inverted, as is the fourth, the fifth is green and inverted and the last is blue and inverted. Struan is talking to someone out of shot." src="<%= config[:host] %>/blog/posts/2018/images/alpha-channels/glitch-7.png" /></figure></ul>
</div>