--- 
layout: portfolio 
---
  <% sub_pages('portfolio/').reverse.each do |article| %>
  <% if article.data.title != "" %>
  <article class="clean-text">
  <% puts article.data.title %>
    <% link_to article.path, :fragment => 'main' do %>
    <div class="summary">
      <h2>
        <%= article.data.title %>
      </h2>
      <h3 class="byline">
        <%= article.data.byline %>
      </h3>
      <figure>
      <% if article.data.hero_type == 'image' %>
        <img src="<%= config[:host] %><%= article.data.image_extension %><%= article.data.hero_file %>" alt="<%= article.data.hero_alt %>">
      <% else %>
        <video autoplay muted controls type="video/mp4" poster="<%= config[:host] %><%= article.data.image_extension %><%= article.data.poster %>" src="<%= config[:host] %><%= article.data.image_extension %><%= article.data.hero_file %>"></video>
      <% end %>
      </figure>
      <p><%= article.data.intro %>..</p>
  
      <span class="post-meta">
      <hr />
      <em><%= article.data.org %></em> <%= article.data.year %> 
      </span>
    <% end %>
    </article>
    <% end %>
    <% end %>
    </div>
