---
layout: custom
---

<div class="main" role="main" id="main">
  <div class="content-margin">
    <div class="post-description">
      <h1>
        Projecting my self
      </h1>
      <h2 class="byline">
        Some pictures to help me think
      </h2>
    </div>
    <article>
      <figure>
        <img
          class="full-width"
          src="<%= config[:host] %>/images/custom/gig.jpg"
          alt=""
        />
      </figure>
      <figcaption></figcaption>

      <figure>
        <video
          class="full-width"
          controls="true"
          src="<%= config[:host] %>/images/custom/green.mp4"
          alt=""
        ></video>
      </figure>
      <figcaption>Looks and sounds shit – What's the point?</figcaption>
      <h3>Phones at festivals</h3>
      <ul>
        <li>
          <a
            target="_blank"
            href="https://chargetech.com/phone-charging-coachella-2019/"
          >
            People will do anything to keep their phone alive
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.pe.com/2019/04/12/coachella-joins-the-world-of-interactive-smart-phone-games-with-coachella-coin/"
          >
            Many are keen to gamify and commodify these experiences
          </a>
        </li>
        <q>
          I think for younger generations it’s a way to sort of comfort them in
          the face of all of these live bodies. It’s almost a bulwark or a
          filter... Augmented reality apps can deliver on that experience in
          unique ways that we couldn’t otherwise, it’s going to be central to
          any sort of major branding strategy or strategic objective I would
          imagine.
        </q>
        <li>
          <a
            target="_blank"
            href="https://www.nbcnews.com/news/us-news/coachella-super-sleuths-festival-goers-use-app-track-phone-thief-n747651"
          >
            People are using phones to police each other
          </a>
        </li>
        <li>
          <a
            href="https://www.nme.com/blogs/nme-blogs/vertical-gigs-instagram-stories-live-music-experience-mabel-2546232"
            target="_blank"
            >Gigs are changing form to fit phones</a
          >
        </li>
        <li>
          <a
            href="https://venicebiennale.britishcouncil.org/2017-exhibition/scotland"
            target="_blank"
            >Some art reflecting on projecting self</a
          >
        </li>
      </ul>

      <figure>
        <video
          class="full-width"
          controls="true"
          loop="true"
          src="<%= config[:host] %>/images/custom/twitch.mp4"
          alt=""
        ></video>
      </figure>
      <figcaption>
        People making themselves known but saying nothing at all
      </figcaption>

      <figure>
        <img
          class="full-width"
          src="<%= config[:host] %>/images/custom/wave.jpg"
          alt=""
        />
      </figure>
      <figcaption>Phones are sometimes lights</figcaption>

      <figure>
        <img
          class="full-width"
          src="<%= config[:host] %>/images/custom/lighters.jpg"
          alt=""
        />
      </figure>
      <figcaption>Holding up lights is not new</figcaption>

      <figure>
        <img
          class="full-width"
          src="<%= config[:host] %>/images/custom/subway.jpg"
          alt=""
        />
      </figure>
      <figcaption>Collectivism 🔫 Individualism</figcaption>

      <figure>
        <img
          class="full-width"
          src="<%= config[:host] %>/images/custom/protest.jpg"
          alt=""
        />
      </figure>
      <figcaption>People quite like holding things up in the air</figcaption>

      <figure>
        <img
          class="full-width"
          src="<%= config[:host] %>/images/custom/still.jpg"
          alt=""
        />
      </figure>
      <figcaption>Sometimes it's a good way to communicate</figcaption>

      <figure>
        <img
          class="full-width"
          src="<%= config[:host] %>/images/custom/selfie.png"
          alt=""
        />
      </figure>
      <figcaption>So is capturing things bad for our health?</figcaption>

      <figure>
        <img
          class="full-width"
          src="<%= config[:host] %>/images/custom/narcissus.png"
          alt=""
        />
      </figure>
      <figcaption>Our self is literally reflected back at us</figcaption>
      <a
        href="https://www.psychologytoday.com/gb/blog/digital-world-real-world/201909/narcissism-and-social-media-should-we-be-afraid"
        >The affects are tricky to keep up with</a
      >
      <iframe
        width="100%"
        height="400"
        src="https://www.youtube-nocookie.com/embed/Qx_r-dP22Ps"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      A desire to be understood? We show our exterior in the hopes that someone
      will know our interior?

      <blockquote>
        <p>
          It’s almost like the photographing and sharing of a cool time is more
          important than actually appreciating it in real life.
        </p>
      </blockquote>
      https://www.theguardian.com/world/2016/mar/17/i-narcissist-vanity-social-media-and-the-human-condition

      Consider the toxic stew that is professional bodybuilding and the words of five-time Mr. Olympia Bill Pearl: “The guy left standing on the stage today at the end of a bodybuilding show is probably the guy in the arena who is closest to death.”
      Personal beauty is a greater recommendation than any letter of reference – Aristotle
      https://www.latimes.com/archives/la-xpm-2011-aug-22-la-he-fitness-vanity-20110822-story.html

      https://video.vice.com/sv/video/How-Narcissists-Took-Over-the-World/57cdaf1561c424f77dc131e5

    </article>
    <hr />
    <h3>Photo Credits</h3>
    <ul>
      <li>Alejandro Ortiz on Unsplash</li>
      <li>Andres Moreno on Flickr</li>
      <li>Baptiste SOUBRA https://flic.kr/p/VtDJyh/</li>
      <li></li>
      <li>
        James Cridland - https://flic.kr/p/W9EVX
      </li>
      <li></li>
    </ul>
    <!-- <span class="post-meta">
      This was brought to you by vanity
    </span> -->
    <a href="#top" class="back-to-top"></a>
  </div>
</div>
<style>
  .corner {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: scale(0.5) translateX(45%) translateY(46%);
    border-radius: 1em;
  }
</style>
<script src="<%= config[:host] %>/images/custom/p5.min.js"></script>
<script src="<%= config[:host] %>/images/custom/p5.dom.min.js"></script>
<script src="<%= config[:host] %>/images/custom/sketch.js"></script>
